<h2>About Me</h2>
<div>
    <p style="text-align:center; padding:0px 40px">  Computer Science student passionate about iOS app development, software development and machine learning. Working on some amazing projects & exploring Open Source.  </p>
</div>
        <div class="github-stats">
      <img class="git_stats" alt="Github statistics" src="https://github-readme-stats.vercel.app/api?username=prabal4546&show_icons=true&hide=issues&count_private=true&include_all_commits=true">
      <img alt="Most used languages on github" src="https://github-readme-stats.vercel.app/api/top-langs/?username=prabal4546&layout=compact&langs_count=3">
      </div>
